
body{
    background-color:grey;
}


body *{
    color:white;
}

.Main{

    margin-left:100px;
    margin-right:100px;
    border:1px solid black;
    min-height:70vh;
    padding:50px;

}

h1{
    border-bottom:1px solid black;
width:100%;
}
.row{
display:flex;
}

.col{
width:30vw;
    max-height:70vh;
    border:1px solid white;
    padding:20px;
    overflow-x:hidden;
    overflow-y:scroll;
}

.Tab{
width:100%;
    min-height:70px;
    Xborder:1px solid black;
display:flex;
    padding:0px;
    border-top:1px solid black;
    border-bottom:1px solid black;
}

.Tab >img{
width:32px;
height:32px;
    padding:10px;
}
.Tab >div{
width:100%;
    padding:10px;
}


.Tab:hover{
    border:1px solid black;

}

.Url{
color:blue;
width:100%;
    font-size:10px;

    padding:0px;
}

.Content{

width:100%;

    Xborder-bottom:1px solid black;
    margin:10px;
}
.Content >  *{

width:100%;

}
.Content iframe{

width:100%;

}
